ANTHROPIC_API_KEY=your_anthropic_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
DAILY_API_KEY=your_daily_api_key_here
GMAIL_USER=akshaydc102@gmail.com
GMAIL_APP_PASSWORD=szreadjmrcrixvuh
RECRUITER_EMAIL=akshaydc05@gmail.com
